* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  /* -webkit-font-smoothing:antialiased; */
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
}
html {
  overflow-y: scroll;
  -ms-overflow-x: hidden;
  -webkit-tap-highlight-color: unset !important;
}
html.laypop {
  overflow-y: hidden;
} /* 전체 레이어팝업 일때 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
table,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  word-break: break-all;
}
body,
input,
textarea,
select,
button,
table {
  font-family: "Noto Sans", sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1;
}
em {
  font-style: normal;
}
fieldset,
img {
  border: 0 none;
}
img {
  vertical-align: middle;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
input::-ms-clear {
  display: none;
}
button {
  border: 0 none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}
a[href^="tel:"] {
  cursor: text;
}

.visible {
  display: block !important;
}
.unVisible {
  display: none;
}

.pc {
  display: block !important;
}
.mo {
  display: none !important;
}

@media all and (max-width: 767px) {
  .pc {
    display: none !important;
  }
  .mo {
    display: block !important;
  }
}
